@model IEnumerable<Softuni_Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm()){     
        <p> Title: @Html.TextBox("searchString")
        <input type="submit" value="Search" style="margin: 10px" /></p>
    }
</p>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Title", "Index", new { sortOrder = ViewBag.NameSortParm })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Body)
        </th>
        <th>
            @Html.ActionLink("Date", "Index", new { sortOrder = ViewBag.DateSortParm })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.Raw(item.Body)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @if (User.IsInRole("Administrators"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }); 
            }            
            @Html.ActionLink("Details", "Details", new { id=item.Id })
            @if (User.IsInRole("Administrators"))
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }

        </td>
    </tr>
}

</table>
